* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #00aaff, rgb(231, 122, 202));
}

.calculator {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem); /*To align the div column wise*/
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem); /* To align the div in row wise*/
}

.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgb(249, 247, 247);
  outline: none;
  background-color: rgba(88, 254, 42, 0.75);
  box-shadow: 0px 4px 14px rgba(1, 1, 1, 1);
}

.calculator > button:hover,
.calculator > button:focus {
  /*focus is to keep the changes until we press another button*/
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2; /*To make the button cover two cells*/
  flex: 1 1 0%;
}

.output {
  grid-column: 1/ -1; /*To Cover the output box in the whole div*/
  background-color: rgba(0, 0, 0, 0.75);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current {
  color: white;
  font-size: 2.5rem;
}
